@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-primary leading-loose transition-colors duration-300 bg-light text-black dark:bg-[#0e1629] dark:text-white;
    background-image: url("/cutcube.png");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: repeat;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}

@layer utilities {
  .text-outline {
  -webkit-text-stroke: 1px black;
}

.dark .text-outline {
  -webkit-text-stroke: 1px white;
}
  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }

  .text-muted {
    @apply text-black/70 dark:text-white/70;
  }

  .bg-card {
    @apply bg-white dark:bg-[#1e293b];
  }

  .border-muted {
    @apply border-black/10 dark:border-white/20;
  }
}
